.card-container {
    margin: 0px 6px 0px 6px;
    padding: 0px;
}

.card-image img {
    min-height: 355px;
    min-width: 305px;
    max-height: 355px;
    max-width: 305px;
}

.card-image img:hover {
    transform: scale(1.1);
}

.card-container-top {
    margin-top: 50px;
    margin-left: 100px;
}

#add-favorite {
    height: 23px;
    fill: #DEB841;
}

#add-favorite:active {
    transform: scale(1.1);
    fill: #FFF;
}

#remove-favorite {
    background-color: black;
    color: white;
    width: 100px;
    margin-left: 100px;
    
}
#remove-favorite:hover {
    background-color: #DEB841;
    color: black;
    width: 100px;
    margin-left: 100px;
}
