.card-container {
    margin: 0px 6px 0px 6px;
    padding: 0px;
}
.card-image img {
    margin-left: 2px;
    min-height: 155px;
    min-width: 105px;
    max-height: 155px;
    max-width: 105px;
    cursor: pointer;
}

.card-image img:active {
    transform: scale(1.1);
}

#add-favorite {
    margin: 4px;
    height: 23px;
    fill: #FFF;
}

#add-favorite:active {
    transform: scale(1.1);
    fill: gold;
}

#remove-favorite {
    background-color: black;
    color: white;
    width: 100px;
}

#remove-favorite:hover {
    background-color: #DEB841;
    color: black;
    width: 100px;
}
