.card-container {
    margin: 0px 6px 0px 6px;
    padding: 0px;
}

.card-image img {
    min-height: 155px;
    min-width: 105px;
    max-height: 155px;
    max-width: 105px;
}

.card-image img:hover {
    transform: scale(1.1);
}

#add-favorite {
    height: 23px;
    fill: #DEB841;
}

#add-favorite:active {
    transform: scale(1.1);
    fill: #FFF;
}