.login-page{
  height: 100vh;
  width: 100%;
  background-color: #171717;
  display: flex;
  flex-direction: column;
}

#login-logo {
  font-family: 'Lobster', curvsive;
  padding-left: 15px;
  font-size: 27px;
  color: #FFF;
  font-weight: 400;
}

.auth-body {
  height: 550px;
  padding-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-body h1 {
  font-size: 2em;
  color: #FFF;
  font-weight: 250;
}
.login-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#forgot {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
button {
  box-sizing: border-box;
  margin: 10px;
  width: 300px;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 12px 21px;
  background-color: #DEB841;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
button:hover {
  color: #fff;
  background-color: #EDD897;
  transition: 0.1s ease-in-out;
}