#modal {
    position: fixed;
    background-color: #171717;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    z-index: 2;
}

#modal-container {
    margin: 0;
    background-color: #25233a;
    color: #FFF;
    font-weight: 500;
    font-size: 17px;
    height: 100%;
    width: 100%;
}

.close-modal {
    position: fixed;
    max-height: 20px;
    max-width: 20px;
    cursor: pointer;
    right: 0;
    display: flex;
    padding: 5px;
    fill: #FFF;
}

.close-modal:active {
    transform: scale(1.1);
}