#modal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#modal-container {
    margin: 0;
    background-color: #FFF;
    width: 400px;
    height: auto;
}

.trailer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.close-modal {
    position: absolute;
    margin: 5px;
    width: 50px;
    color: black;
}

.close-modal:hover {
  color: #000;
}