.list-container {
    background-color: #171717;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.movielist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}