.list-categories {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

.list-categories li {
    list-style: none;
}

.list-categories li a{
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    background: brown;
    margin: 4px 0;
    padding-left: 50px;
}

/* .fav-container {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
} */
/* .data-list-container {
    width: 100%;
    height: 100vh;
} */

.data-list-container div#movies{
    background: red;
}
.data-list-container div#games{
    background: blue;
}.data-list-container div#music{
    background: purple;
}.data-list-container div#shows{
    background: green;
}

