
.profile-image img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 50%;
    animation: pulse 1s infinite;
  }

.profile-image {
    background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
	height: 140px;
	position: relative;
}

.profile-bio{
	padding: 40px 15px 20px 15px;
	box-sizing: border-box;
	background: #fafcff;
}
.profile-bio p{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 15px;
    color: #555555;
    width: 500px;
}

.profile-username {
    margin-left: 300px;
}

.profile-edit-btn {
    background-color: dimgray;
    color: black;
    width: 100px;
    margin-left: 100px;
}
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
      opacity: 1;
    }
    25% {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
      opacity: 1;
    }
    50% {
      box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.6);
      opacity: 1;
      transform: translateY(-15px);
    }
    75% {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
      opacity: 1;
      transform: none;
    }
  }
