
.profile-image img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 50%;
    animation: pulse 1s infinite;
  }

.profile-image {
  background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
	height: 140px;
	position: relative;
}

.profile-bio{
	padding: 40px 15px 20px 15px;
	box-sizing: border-box;
	background: #fafcff;
}
.profile-bio p{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 15px;
  color: #555555;
  width: 500px;
}

.profile-username {
  margin-left: 300px;
}

.profile-edit-btn {
  background-color: black;
  color: white;
  width: 100px;
  margin-left: 100px;
}
.profile-edit-btn:hover {
  background-color: #DEB841;
  color: black;
  width: 100px;
  margin-left: 100px;
}
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 4px #DEB841;
      opacity: 1;
    }
    25% {
      box-shadow: 0 0 0 1px #DEB841;
      opacity: 1;
    }
    50% {
      box-shadow: 0 0 0 7px #DEB841;
      opacity: 1;
      transform: translateY(-15px);
    }
    75% {
      box-shadow: 0 0 0 4px #DEB841;
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
      opacity: 1;
      transform: none;
    }
  }

  .interest-content {
    position: relative;
  }
  .interest-img img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .interest-card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
  }

  .interest-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }

  .interest-card:hover:before {
    clip-path: circle(150px at 80% -20%);
  }

  .interest-card:after {
    content: 'Movies';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,255,0.04)
  }

  .interest-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }

  .interest-card:hover .interest-img {
    top: 0%;
    transform: translateY(0%);
  }
  .interest-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
  }
  .interest-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  .interest-card:hover .interest-content {

    height: 210px;
  }
  .interest-card .interest-content .top-interest,
  .interest-card .interest-content .watch-list
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
  }
  .interest-card .interest-content .top-interest h3
  {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  .interest-card .interest-content .top-interest span
  {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: black;
    margin: 0 20px;
    margin-top: 40px;
    transition: 0.5s;
    color: white;
    border-radius: 4px;
  }
  .interest-card .interest-content .top-interest span:hover
  {
    background: #DEB841;
  }
  .interest-container {
    display: flex;
    justify-content: space-around;
  }
