.search-bar-input[type=text] {
  min-width: 200px;
  padding: 12px 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.search-bar-input[type=text]:focus {
  width: 300px; 
}

